<h3>@ViewBag.Message</h3>

<address>
    Boulder, CO 80302<br />
    <abbr title="Phone">P:</abbr>
    720.276.4530
</address>

<address>
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/traviswise/">https://www.linkedin.com/in/traviswise/</a><br />
    <strong>GitHub</strong> <a href="https://github.com/ghostr00t">https://github.com/</a>
</address>